<li class="{{$classHelper priority categoryId}}">
    <div class="single-task__time">{{deadline}}</div>
    <div class="single-task__description">
        <h3 class="single-task__title">{{title}}</h3>
        <p class="single-task__text">{{description}}</p>
    </div>
    <a href="#" data-query="edit" class="single-task__edit-link icon-edit" title="Edit task"></a>
    <a href="#timer" class="single-task__status icon-tomato" title="Go to Timer"></a>
</li>