<main class="main-content" id="timer">

</main>

<div class="main-content__container">
    <a href="task-list.html" class="main-content__back-button icon-arrow-left" title="Go to Global List"></a>
</div>