<img src="/Logo.svg" alt="Logo" class="main-header__logo">
<h1 class="main-header__title">{{{$headerTitle hash}}}</h1>
<nav class="main-header__navigation">
    <ul class="main-header__list">
        {{{$menuItems hash}}}
        <li class="main-header__list-item"><a href="#task-list"
                                              class="main-header__link icon-list"
                                              title="Tooltip"></a></li>
        <li class="main-header__list-item"><a href="#report" class="main-header__link icon-statistics"
                                              title="Go to Reports"></a></li>
        <li class="main-header__list-item"><a href="#settings" class="main-header__link main-header__link_active icon-settings"
                                              title="Go to Settings"></a></li>

    </ul>
</nav>