<img src="/Logo.svg" alt="Logo" class="main-header__logo">
<h1 class="main-header__title">{{title}}</h1>
<nav class="main-header__navigation">
    <ul class="main-header__list">
        <li class="main-header__list-item main-header__list-item_add"><a href="#" data-query="add"
                                                                         class="main-header__link main-header__link icon-add"
                                                                         title="Tooltip"></a></li>
        <li class="main-header__list-item"><a href="task-list-remove.html" class="main-header__link   icon-trash"
                                              title="Go to Removed Tasks"></a></li>
        <li class="main-header__list-item"><a href="#task-list"
                                              class="main-header__link icon-list"
                                              title="Tooltip"></a></li>
        <li class="main-header__list-item"><a href="#report" class="main-header__link icon-statistics"
                                              title="Go to Reports"></a></li>
        <li class="main-header__list-item"><a href="#settings" class="main-header__link main-header__link_active icon-settings"
                                              title="Go to Settings"></a></li>

    </ul>
</nav>