<article class="main-content__article timer">
    <h2 class="timer__title">Lorem ipsum dolor sit amet consectetur adipiscing</h2>

    <ul class="timer__pomodoros">
        <li class="timer__pomodoros-item"><button class="timer__pomodoros-button"></button></li>
        <li class="timer__pomodoros-item"><button class="timer__pomodoros-button"></button></li>
        <li class="timer__pomodoros-item"><button class="timer__pomodoros-button"></button></li>
    </ul>

    <section class="timer__buttons timer__body">
        <h3 class="timer__body-title-start">Let's do it!</h3>
    </section>

    <div class="timer__buttons button-container button-container_timer">
        <button class="button-container__item button-container__item_green timer__buttons_start">Start</button>
    </div>
</article>