<article class="main-content__article timer timer_process">
    <h2 class="timer__title">Lorem ipsum dolor sit amet consectetur adipiscing</h2>

    <ul class="timer__pomodoros">
        <li class="timer__pomodoros-item">
            <button class="timer__pomodoros-button timer__pomodoros timer__pomodoros-button_completed"></button>
        </li>
        <li class="timer__pomodoros-item">
            <button class="timer__pomodoros-button timer__pomodoros-button_completed"></button>
        </li>
        <li class="timer__pomodoros-item">
            <button class="timer__pomodoros-button timer__pomodoros-button_completed"></button>
        </li>
    </ul>

    <section class="timer__buttons timer__body">
        <div class="timer__body-progress">
            <h3 class="timer__body-title">You Completed Task</h3>
        </div>
    </section>
</article>