<nav class="previous-tasks__navigation tabs" id="filters">
    <div class="tabs__container">
        <a href="#" class="tabs__tab-link tabs__tab-link_global tabs__tab-link_global-active"
           title="Go to Global List" data-query="global">Global list</a>
    </div>

    <div class="tabs__container">
        <a href="#" class="tabs__tab-link" title="All tasks" data-priority="0">All</a>
        <a href="#" class="tabs__tab-link" title="Urgent tasks" data-priority="1">Urgent</a>
        <a href="#" class="tabs__tab-link" title="High tasks" data-priority="2">High</a>
        <a href="#" class="tabs__tab-link" title="Middle tasks" data-priority="3">Middle</a>
        <a href="#" class="tabs__tab-link" title="Low tasks" data-priority="4">Low</a>
    </div>

</nav>