<main class="main-content">
    <article class="main-content__article report">
        <nav class="report__navigation">
            <ul class="report__list">
                <li class="report__list-item"><a href="reports.html" class="report__link report__link_active">Day</a></li>
                <li class="report__list-item"><a href="reports-week.html" class="report__link ">Week</a></li>
                <li class="report__list-item"><a href="reports-month.html" class="report__link">Month</a></li>
            </ul>
        </nav>

        <figure class="report__chart chart">
            <img src="/daily-chart-task.png" alt="Daily Chart" class="chart__image">
            <figcaption class="chart__description">
                <ul class="chart__list">
                    <li class="chart__list-item">Urgent</li>
                    <li class="chart__list-item">High</li>
                    <li class="chart__list-item">Middle</li>
                    <li class="chart__list-item">Low</li>
                    <li class="chart__list-item">Failed</li>
                </ul>
            </figcaption>
        </figure>

        <nav class="report__navigation">
            <ul class="report__list">
                <li class="report__list-item"><a href="reports-pomodoros.html" class="report__link">Pomodoros</a></li>
                <li class="report__list-item"><a href="reports.html" class="report__link report__link_active">Task</a></li>
            </ul>
        </nav>
    </article>
</main>

<div class="main-content__container">
    <a href="task-list.html" class="main-content__back-button icon-arrow-left" title="Go to Global List"></a>
</div>

