<div class="main-content__notification notification notification_warning">
    <span class="notification__emotion icon-tomato-info"></span>

    <p class="notification__description">{{message}}</p>

    <button class="notification__button icon-close"></button>
</div>