<main class="main-content" id="main-content">
    <article class="main-content__article report">
        <nav class="report__navigation report__navigation_top">
            <ul class="report__list">
                <li class="report__list-item"><a href="#" data-type="day" class="report__link">Day</a></li>
                <li class="report__list-item"><a href="#" data-type="week" class="report__link">Week</a></li>
                <li class="report__list-item"><a href="#" data-type="month" class="report__link">Month</a></li>
            </ul>
        </nav>

      <div id="report"></div>

        <nav class="report__navigation report__navigation_bottom">
            <ul class="report__list">
                <li class="report__list-item"><a href="#" class="report__link" data-tooltip="pomodoro">Pomodoros</a></li>
                <li class="report__list-item"><a href="#" class="report__link" data-tooltip="task">Task</a></li>
            </ul>
        </nav>
    </article>
</main>

<div class="main-content__container">
    <a href="#task-list" class="main-content__back-button icon-arrow-left" data-title="Go to Global List"></a>
</div>

