<div class="main-content__notification notification notification_{{type}}" id="notification">
    <span class="notification__emotion icon-tomato-{{type}}"></span>

    <p class="notification__description">{{message}}</p>

    <button class="notification__button icon-close" data-query="closeNote"></button>
</div>
