.card-container {
  height: 174px;
  perspective: 600px;
  position: relative;
  width: 238px;
}
.card {
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all 1s ease;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.card .side {
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  backface-visibility: hidden;
  background: #393F45;
  color: #fff;
  line-height: 150px;
  text-align: center;
  font-size:15px;
}

.card:hover{
  transform: rotateY(320deg);
}
