<main class="main-content" id="timer">

</main>

<div class="main-content__container" id="timer-buttons">
    <a href="#task-list" class="main-content__back-button icon-arrow-left" title="Go to Global List"></a>
</div>
