<article class="main-content__article categories">
    <header class="categories__header settings-header">
        <h2 class="settings-header__title">Categories list overview</h2>
        <nav class="settings-header__navigation tabs">
            <a href="#settings" class="tabs__tab-link" data-query="settings">Pomodoros</a>
            <a href="#settings" class="tabs__tab-link" data-query="categories">Categories</a>
        </nav>
    </header>

    <ul class="categories__list">
        <li class="categories__list-item"><div class="categories__item-point"></div>Work</li>
        <li class="categories__list-item"><div class="categories__item-point"></div>Education</li>
        <li class="categories__list-item"><div class="categories__item-point"></div>Hobby</li>
        <li class="categories__list-item"><div class="categories__item-point"></div>Sport</li>
        <li class="categories__list-item"><div class="categories__item-point"></div>Other</li>
    </ul>

    <div class="full-chart__buttons-container button-container">
        <button class="button-container__item button-container__item_blue">Go to Tasks</button>
    </div>
</article>