<article class="main-content__article timer timer_process">
  <h2 class="timer__title">{{title}}</h2>
  <h3 class="timer__sub-title">{{description}}</h3>

    {{{$estimations estimationTotal pomodoros}}}

    <section class="timer__buttons timer__body timer__body_{{categoryId}}">
        <div class="timer__body-wrapper" data-anim="base wrapper">
            <div class="timer__body-progress" data-anim="base left"></div>
            <div class="timer__body-progress" data-anim="base right"></div>
        </div>
        <h3 class="timer__body-title" data-title="timer"></h3>
    </section>

    <div class="timer__buttons button-container button-container_timer">
        <button class="button-container__item button-container__item_red timer__buttons_finish" data-query="failPomodoro">Fail Pomodora</button>
        <button class="button-container__item button-container__item_green timer__buttons_finish" data-query="finishPomodoro">Finish Pomodora</button>
    </div>
</article>
