<article class="main-content__article timer timer_process">
  <h2 class="timer__title">{{title}}</h2>
  <h3 class="timer__sub-title">{{description}}</h3>

  {{{$estimations estimationTotal pomodoros}}}

    <section class="timer__buttons timer__body">
      <div class="timer__body-wrapper" data-anim="base wrapper">
        <div class="timer__body-progress" data-anim="base left"></div>
        <div class="timer__body-progress" data-anim="base right"></div>
      </div>
      <h3 class="timer__body-title">You Completed Task</h3>
    </section>
</article>
