<article class="main-content__article zero-tasks zero-tasks_first-entrance">
    <img src="/tomato_settings.svg" alt="Add task" class="zero-tasks__image">
    <h2 class="zero-tasks__title">As you visited our site for a first time you can check<br> and customize your default
        application settings</h2>
    <div class="zero-tasks__buttons button-container">
        <button class="button-container__item button-container__item_blue timer__buttons_start">Skip</button>
        <button class="button-container__item button-container__item_green timer__buttons_start">Go to Settings</button>
    </div>
</article>