<nav class="previous-tasks__navigation tabs">
    <div class="tabs__container">
        <a href="#" class="tabs__tab-link tabs__tab-link_global tabs__tab-link_global-active" title="Go to Global List" data-query="global">Global
            list</a>
    </div>

    <div class="tabs__container">
        <a href="#" class="tabs__tab-link tabs__tab-link_active" title="All tasks">All</a>
        <a href="#" class="tabs__tab-link" title="Urgent tasks">Urgent</a>
        <a href="#" class="tabs__tab-link" title="High tasks">High</a>
        <a href="#" class="tabs__tab-link" title="Middle tasks">Middle</a>
        <a href="#" class="tabs__tab-link" title="Low tasks">Low</a>
    </div>

</nav>